<a href="#/points">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Point</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updatePoint()" ng-init="getPoint()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="point.title" placeholder="Point">
        </div>
        <div class="form-group">
          <label>Latitude</label>
          <input type="text" class="form-control" ng-model="point.latitude" placeholder="Latitude">
        </div>
        <div class="form-group">
          <label>Longitude</label>
          <input type="text" class="form-control" ng-model="point.longitude" placeholder="Longitude">
        </div>
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>